*,body,html{
    margin: 0;
    padding: 0;
}
:root{
--coloor-black:#000;
--coloor-green:#7fff00;
}
header{
width: 100%;
justify-content: center;
align-items: center;
display: flex;
}
.header-left{
    width: 40%;
    display: flex;
    padding: 0 10rem 0 0;
}
.header-left-div{
    width: 30%;
    a{
        color: var(--coloor-black);
        text-decoration: none;
    }
}
.header-left-div-name{
    justify-content: center;
    display: flex;
}
.header-raght{
    width: 40%;
    display: flex;
    padding: 0rem 8rem 0 0;
    a{
        color: var(--coloor-black);
        text-decoration: none;
}}
.header-raght-div{
    width: 30%;
}
.section-raght{
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-raght-div{
    width: 100%;
    display: flex;
    border-radius: 0.25em;
    padding: 3rem 1rem 0 0;

} 
.button-sea{
    justify-content: flex-end;
    padding: 0.5rem 6.4rem 0 0;
}
.section-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0 0 0rem 16rem;
    a{
        text-decoration: none;
        color: var(--coloor-black);
    }
    a:hover{
        color: var(--coloor-green);
    }
}
main{
    width: 100%;
}
.main-div{
    align-items: center;
    width: calc(60%);
    padding: 2rem 1rem 0 0;
}
.main-div-pa{
    padding: 0.5rem;
}
.section-vasat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-vasat-aks{
    a{
        text-decoration: none;
    }
}