*,body,html{
    margin: 0;
    padding: 0;
}
:root{
--coloor-black:#000;
--coloor-green:#55ff0040;
--coloor-green1:#225544;
--coloor-green2:#00ff15b3;
--coloor-white:#fff;
--coloor-green0:#008000;
--color-kerem:#dcd1bf;
}
body{
    background-color: var(--color-kerem);
}

header{
width: 100%;
justify-content: center;
align-items: center;
display: flex;
}
.header-left{
    width: 40%;
    display: flex;
    padding: 0 10rem 0 0;
    
}
.header-left-div{
    width: 30%;
    a{
        color: var(--coloor-black);
        text-decoration: none;
    }
}
.temsah-axs{
    margin-right: 9.5rem;
margin-top: -3.3rem;

}
.header-left-div-name{
    justify-content: center;
    display: flex;
    font-size: larger;
    color: var(--coloor-green1);
    }

.header-raght{
    width: 40%;
    display: flex;
    padding: 0rem 8rem 0 0;
    a{
        color: var(--coloor-black);
        text-decoration: none;
}}
.header-raght-div{
    width: 30%;
}

.section-raght{
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-raght-div{
    width: 100%;
    display: flex;
    border-radius: 0.25em;
    padding: 3rem 1rem 0 0;

} 
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 0 0;
}
.section-left{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 7rem;
    margin-top: 3rem;
    overflow: hidden;
    border-radius: 70px;

}
.section-left-senrer{
    justify-content: center;
    align-items: center;
   margin-right: 1rem;
   margin-top: 10rem;

}
.section-left-right{
    width: 100%;
    margin-right: 3rem;
}
.axs1{
border: 1px solid#fff;
gap: 7px;
border-radius: 100px;

}
.section-left-left{
    margin-right: 5rem;
}
.section-left-senrer1{
    margin-right: 4rem;
}
.button-jens{
    border-radius: 1px 1px 30px rgba(0,0,0, 0.3);
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    padding: 10px 0.5rem;
    a{
    text-decoration: none;
    color:var(--coloor-green1);
}
    a:hover{
        color: black;
    }
}
main{
    width: 100%;
}
.main-div{
    align-items: center;
    width: calc(60%);
    padding: 2rem 1rem 0 0;
    color: var(--coloor-black);
    margin-right: 1rem;
}
.main-div-pa{
    padding: 0.5rem;
}
.section-paeen{
    display: inline;
}
footer{
    width: 100%;
}

.but-div{
    outline: none;
    border: none;
}
form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0.5rem;
   border-radius: 1px 1px 30px rgba(0,0,0, 0.3);
   border-radius: 1.5rem;
   margin-right: 2rem;
}
.button-search {
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: grey;
    display: flex;
    align-items: center;
    margin-right: 8rem;
    margin-top: -0.6rem;
}
.form-div .form-input{
    margin-right: 33rem;
    margin-top: -2rem;
    width: 50%;
font-size: 14px;
color: black;
background-color: transparent;
align-items: center;
background-color: var(--coloor-white);
padding: 10px 0.5rem;
   border-radius: 1px 1px 30px rgba(0,0,0, 0.3);
   border-radius: 1.5rem;
}
@font-face {
    font-family: iran-font;
    src: url("fomt/IranNastaliq.Font_v1_[YasDL.com].rar") format(IranNastaliq);
}
.sabad{
    margin-top: 5rem;
}
.back{
margin-right: 85rem;
}
.but-back{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    padding: 1em 2.5em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: var(--coloor-white);
    background-color: var(--coloor-green1);
}
.tom-name{
    margin-top: 0rem;
    margin-right: 1rem;
}
.border1{
    width: calc(30%);
border: 2px solid var(--coloor-white);
border-radius: 5%;
height: 80vb;
margin-right: 1rem;
margin-top: 2rem;
}
/* استایل اصلی اسلایدشو */
.slideshow-container {

  max-width: 200px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-right: 11rem;
}

.slide{
    display: none;
    margin-left: 0rem;
    margin-right: -7rem;
}

.slide img {
    width: 100%;
    height: auto;
}

/* دکمه‌های قبلی و بعدی */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgb(16, 3, 3);
}


.next {
    margin-right: -8rem;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    margin-right: 5rem;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* نقاط نشانگر */
.dots {
    text-align: center;
    margin-top: 1px;
    margin-right: -2rem;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* افکت fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
.tozahat{
    margin-right: 2rem;
    margin-top: 1rem;
}
.takhfif{
    margin-right: 20rem;
    margin-top: -2.7rem;
    display: flex;
    
}
.asli-ghyemat{
    margin-right: 2rem;
    margin-top: 1rem;
}
.diagonal-line {
    position: relative;
    display: inline-block;
    margin-right: 6rem;
    margin-top: 0rem;
}

.diagonal-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: red;
    transform: translateY(-50%) rotate(-15deg);
}
.btn{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: var(--coloor-white);
    background-color: var(--coloor-green1);
  }
  .afzadan-sabad{
    margin-top: 3rem;
    margin-right: 16rem;
    padding: 0rem;
}
